einops==0.7.0
lpips==0.1.4
matplotlib==3.7.5
matplotlib-inline==0.1.6
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
opencv-python==4.4.0.46
Pillow==10.1.0
protobuf==4.25.1
scikit-image==0.16.2
scipy==1.10.1
smart-open==7.0.4
tensorboardX==2.6.2.2
thop==0.1.1.post2209072238
timm==0.3.2
tqdm==4.66.1
typing_extensions==4.9.0
yacs==0.1.8